{% extends 'base.html' %}

{% block content %}
<div class="d-flex" style="min-height: 100vh;">
     <!-- Sidebar -->
    {% include 'administrateur/sidebar.html' %}
 
    <div class="container-fluid py-4 px-4" style="flex: 1; background-color: #f8f9fa;">
        <!-- Header -->
        <div class="mb-4">
            <h2 class="fw-bold">Voici la liste des catégories, {{ user.username}}</h2>
        </div>

            <!-- Afficher les catégories sur le dashboard -->
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5 class="mb-0">Gestion des catégories</h5>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'categorie_create' %}" class="btn btn-primary mb-3">
                            <small><i class="bi bi-plus"></i></small> Ajouter une catégorie
                        </a>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for categorie in categories %}
                                <tr>
                                    <td>{{ categorie.name }}</td>
                                    <td>
                                        <a href="{% url 'categorie_update' categorie.id %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil "></i></a>
                                        <a href="{% url 'categorie_delete' categorie.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash "></i></a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="2" class="text-center text-muted">Aucune catégorie</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}